@charset "UTF-8";

:root {
  --azul-principal: #000080;
  --azul-hover: #000066;
  --azul-transparente: #00009486;
  --cinza-fundo: rgb(216, 216, 216);
  --cinza-claro: rgb(241, 241, 241);
  --cinza-borda: rgb(192, 192, 192);
  --cinza-escuro: #bdbdbdc5;
  --cinza-hr: #ccc;
  --texto-padrao: #111;
  --texto-secundario: rgb(230, 230, 230);
  --texto-terciario: rgb(43, 43, 43);
  --texto-comentario: rgb(19, 19, 19);
  --gradiente-tablet-top: #49a09d;
  --gradiente-tablet-bottom: #5f2c82;
}

@media print {
  * {
    color: black;
  }

  main h1 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: none;
    color: black;
  }

  header {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Tablet */

  body {
    background-image: linear-gradient(to top, var(--gradiente-tablet-top), var(--gradiente-tablet-bottom));
  }

  section#login {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: space-between;
  }

  section#login > div#imagem {
    flex: 1 1 30%;
    height: auto;
  }

  section#login > div#formulario {
    flex: 1 1 65%;
    height: auto;
  }

  button {
    font-family: "Funnel Sans";
    padding: 10px;
    background-color: var(--azul-principal);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin: 20px auto 10px;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  /* Desktop */

  menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    list-style: none;
    text-align: left;
  }

  .noticias-principais {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  .noticia-principal-1,
  .noticia-principal-2 {
    flex: 1 1 45%;
    width: 100%;
  }

  article h1, 
  article .autor-data,
  article img,
  article p {
    margin-left: 300px;
  }

  .comentarios p {
    margin-left: 300px;
  }

  button {
    margin-left: 300px;
  }

  .login h1 {
    font-size: 35px;
    text-align: center;
  }
}