@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: rgb(216, 216, 216);
  font-family: "Funnel Sans", sans-serif;
}

header {
  background-color: #000080;
  color: rgb(230, 230, 230);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header h1 {
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.473);
  font-size: 32px;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  width: 100%;
}

menu {
  width: 100%;
}

menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  list-style: none;
}

menu li {
  border-radius: 10px;
  padding: 8px 10px;
  text-align: center;
}

menu li:hover {
  background-color: #010183;
  transition: 0.2s;
}

menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.material-icons,
.material-symbols-outlined {
  font-size: 18px;
  margin-top: 4px;
}

main {
  background-color: rgb(216, 216, 216);
  min-height: 300px;
  padding: 10px;
}

article {
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(192, 192, 192);
  width: 100%;
}

.em-alta {
  font-weight: lighter;
  text-align: left;
  margin-left: 5px;
}

#aglomerado {
  display: inline-block;
}

.noticia-principal-1,
.noticia-principal-2 {
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  height: auto;
}

.noticia-principal-1 a,
.noticia-principal-2 a {
  font-size: 24px;
  color: #000080;
  text-decoration: none;
}

.noticia-principal-1 li,
.noticia-principal-2 li {
  margin-bottom: 5px;
  list-style-type: disc;
  list-style-position: inside;
}

.noticia-container-2 .subititulo {
  font-size: 14px;
  color: black;
  margin-left: 5px;
}

.noticia-container .categoria {
  color: rgb(43, 43, 43);
  font-style: italic;
  border-bottom: 1px solid transparent;
}

.noticia-container .titulo {
  color: #000080;
  font-size: 18px;
  margin-left: 5px;
}

.noticia-container .subititulo {
  font-size: 14px;
  color: black;
  margin-left: 5px;
}

.noticia-container .imagem > h1,
.noticia-container .imagem > p {
  color: white;
}

.noticia-container .imagem:hover {
  transition: 0.7s;
}

footer {
  background-color: #000080;
  color: rgb(230, 230, 230);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

footer h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

footer p {
  font-size: 13px;
  margin-top: 5px;
}