@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: rgb(216, 216, 216);
  font-family: "Funnel Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #000080;
  color: rgb(230, 230, 230);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 a {
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37);
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 1px;
  text-align: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

menu {
  width: 100%;
}

menu ul {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 10px;
  padding: 10px;
  list-style: none;
  text-align: left;
}

menu li {
  border-radius: 10px;
  padding: 8px 10px;
  text-align: center;
}

menu li:hover {
  background-color: #010183;
  transition: 0.2s;
}

menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-size: 16px;
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.material-icons,
.material-symbols-outlined {
  font-size: 18px;
  margin-top: 4px;
}

main{
  background-color: rgb(187, 187, 187);
  border: 1px solid rgba(194, 194, 194, 0.836);
  min-height: 300px;
  padding: 10px;
  }

article {
  background-color: rgb(214, 214, 214);
  border: 1.5px solid rgb(155, 155, 155);
  width: 100%;
}

article h1 {
  color: black;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 1px;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

article p {
  font-size: 17px;
  line-height: 1.2;
  color: #111;
  margin-bottom: 15px;
  text-align: center;
  margin-right: 10px;
}

.autor-data {
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  margin-right: 10px;
}

.autor-data strong {
  color: #000080;
}

article img {
  width: 50%;
  border-radius: 10px;
  align-items: center;
  margin-top: 10px;
  margin-left: 20%;
}

#aglomerado {
  display: inline-block;
}

.noticia-principal-1,
.noticia-principal-2 {
  background-color: rgb(199, 198, 198);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 1.5px;
  padding: 10px;
  margin-top: 2.5px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  width: 98%;
  height: 200px auto;
  display: flex;
  flex-wrap: wrap;
}

.noticia-principal-1 a,
.noticia-principal-2 a {
  font-size: 24px;
  color: #000080;
  text-decoration: none;
}

.noticia-principal-1 li,
.noticia-principal-2 li {
  margin-left: 5px;
  list-style-position: inside;
  padding-left: 5px;
}

.noticia-container-2 .subititulo {
  font-size: 14px;
  color: black;
  margin-left: 2px;
}

.noticia-container .categoria {
  color: rgb(43, 43, 43);
  font-style: normal;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: -2px;
}

.noticia-container .titulo {
  color: #000080;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 1px;
}

.noticia-container .subititulo {
  font-size: 14px;
  color: black;
  margin-left: 5px;
}

.em-alta h1 {
  font-weight: lighter;
  text-align: left;
  margin-left: 2px;
  width: 100%;
  flex-basis: 100%;
}

.em-alta {
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 1.5px;

  padding: 10px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  width: 99.1%;
  height: 200px auto;
  display: flex;
  flex-wrap: wrap;
}

.em-alta .titulo {
  font-size: 22px;
  font-weight: bolder;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 0.9
}

.em-alta .titulo a {
  color: #000080;
  text-decoration: none !important;
}

.noticia-imagem {
  background-color: #bdbdbdc5;
  background-image: url(../media/conto-para-guto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  width: 98.8%;
  height: 1200px;

  border-radius: 1.5px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 10px;
  height: 200px auto;
}

.noticia-imagem .titulo,
.noticia-imagem .subititulo {
  color: white;
}

.noticia-imagem .titulo,
.noticia-imagem .subititulo:hover {
  color: rgb(248, 248, 248);
  transition: 0.7s;
}

hr {
    height: 1px;
    width: 99.8%;
    background-color: #ccc;
    border: none;
    margin-top: 5px;
    align-items: center;
}

.comentarios {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.comentarios h2 {
  color: black;
  font-size: 35px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 400px;
  margin-bottom: 1px;
  text-align: left;
  width: 100%;
  text-decoration: none;
}

.comentarios p {
  color: rgb(19, 19, 19);
  font-size: 15.5px;
  font-weight: lighter;
  text-align: left;
}

input {
  width: 50%;
  height: 100px;
  margin-left: 400px;
}

input::placeholder,
textarea::placeholder {
  color: rgb(75, 75, 75);
  padding-top: 1px;
  padding-left: 10px;
  font-size: 15.5px;
  font-weight: lighter;
  text-align: left;
}

footer {
  background-color: #000080;
  color: rgb(230, 230, 230);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

footer h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

footer p {
  font-size: 13px;
  margin-top: 5px;
}
